header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap:20px
}
body{
    border: 2px solid;
}