@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* background-color: aquamarine; */
  height: 100px;
  ul {
    display: flex;
    gap: 10px;
  }
  img {
    width: 200px;
  }
  i {
    font-size: 20px;
  }
  .third-section {
    display: flex;
    gap: 20px;

    input,
    button {
      padding: 10px 20px;
      border-radius: 20px;
      border-width: 2px;
      background-color: rgb(255, 244, 244);
    }
    .signup-btn {
      background-color: black;
      color: white;
    }
    .login-btn {
      background-color: transparent;
    }
  }
}

/* card section */
.card-section {
  padding: 20px;

  .cards-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 6fr 6fr;
    gap: 20px;
  }

  h1 {
    text-align: center;
    font-weight: 400;
    padding-bottom: 30px;
  }
  .cardimg {
    width: 320px;
    border-radius: 20px;
  }
  .caption {
    display: flex;
  }
  .namesection {
    display: flex;
  }
  .namesection img {
    width: 30px;
  }
}

/* slider css start */
.slider {
  overflow: hidden;
  white-space: nowrap;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .container {
    display: inline-block;
    animation-name: animi;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
@keyframes animi {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* slider css end */
