/* flex */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  /* font-size: 10px; */
}
li {
  list-style-type: none;
}
/* flex start */
.main {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}
.menu-section {
  ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0.5rem;
    li {
      background-color: yellow;
      width: 100%;
      text-align: center;
    }
  }
}
/* flex end */
.menu-links {
  display: block;
}
.menubar {
  display: none;
}
/* Grid start */
.hero {
  /* background-color: aquamarine; */
  height: 50%;
  display: grid;
  /* 12fr */
  grid-template-columns: 8fr 4fr;
  grid-template-rows: 6fr 6fr;
  gap: 10px;
  grid-template-areas:
    "banner p1"
    "banner p2";
  > * {
    border: 2px solid red;
  }
}

.banner {
  grid-area: banner;
  background-image: url(https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  > * {
    background-color: orange;
    /* width: fit-content; */
  }
}
.price1 {
  grid-area: p1;
  font-size: 4rem;
}
.price2 {
  grid-area: p2;
}

/* image object fit hover */
img {
  width: 150px;
  height: 150px;
  border: 3px solid red;
  object-fit: cover;
  display: block;
  margin: auto;
  transition: linear 0.5s;
}
img:hover {
  transform: scale(0.7);
}
/* 
media query breakpoints

by default --> lp , desktop , TV
tab --> 768px (Optional)
mobile --> 600px
*/
/* for tab */
/* @media screen and (max-width: 768px) {
  .main {
    background-color: skyblue;
  }
} */
h1 {
  background-color: aqua;
  width: 20%;
  height: fit-content;
  margin: auto;
}
h1::before {
  content: "tm";
  position: absolute;
  color: white;
  font-size: 10px;
  width: 5%;
  height: 5%;
  z-index: 5;
  background-color: red;
}
/* for mobile */
@media screen and (max-width: 500px) {
  /* .menu-links {
    display: none !important;
  }
  .menubar {
    display: block;
  } */

  .hero {
    grid-template-columns: 12fr;
    grid-template-rows: 6fr 3fr 3fr;
    grid-template-areas:
      "banner"
      "p1"
      "p2";
  }
  .menu-section ul {
    flex-direction: column;
  }
}
