.parent {
  background-color: beige;
  display: flex;
  justify-content: end;
  align-items: start;
  /* flex-flow: column nowrap; */
  /* flex-wrap: wrap; */
  flex-direction: row-reverse;
  /* 
  row
  column
  row-reverse
  column-reverse
  */
  height: 350px;
  width: 100%;
  border: 3px solid;
  /* gap: 20px; */
  /*
  horizontal alignment

  justify-content:

  start(default)
  center
  end
  space-between
  space-around
  space-evenly
  */

  /* 
  vertical alignment

  align-items:

  start
  end
  center


  align-content:

  space-between
  space-around
  space-evenly

  */
}

.child {
  border: 2px solid red;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
}

.box1 {
  /* order: 3; */
  /* flex-grow: 1; */
  /* flex-shrink: 8;  */
  align-self: flex-start;

}
.box2 {
  /* order: 1; */
  /* flex-grow: 5; */
  /* flex-shrink: 8;  */
  align-self: center;

}
.box3 {
  /* order: 2; */
  /* flex-grow: 8; */
  /* flex-shrink: 8;  */
  /* flex-basis:100rem; */
  /* width: 200rem; */
  background-color: aqua;
  align-self: flex-end;
}

/* 

parent: 

display flex
justify-content
6
align-content
3
align-items
3
flex-wrap
flex-direction
flow -> flex-direction and flex-wrap
*/
/* 

child:

order 
grow
shrink
basis
align self

*/
